body {
    display: flex;
    flex-direction: column;
    background: #1F2937;
    margin:0px;
}

/*This is the style for the top-section of the webpage*/

.top-section {
    display: flex;
    flex-direction: column;
    gap:40px;
}

.header {
    display: flex;
    justify-content: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    gap: 500px
}

h3 {
    margin-left: 100px;
    color: white;
}

.top-section-right {
    display: flex;
    margin-right: 100px;
    gap: 20px;
    color:#E5E7EB
}

.top-bottom {
    display: flex;
    padding:25px;
    justify-content: center;
    gap: 50px;
    color:white;
}

.top-left {
    max-width: 400px;
}

.sign-button {
    background:#3882F6;
    display: inline-block;
    margin-top: 0px;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
}

/* This is for middle section 1 */

.middle-section-1 {
    display: flex;
    flex-direction: column;
    background:white;
    margin: 0px;
}

.middle-top {
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 20px;
}

.middle-bottom {
    display: flex;
    justify-content: center;
    gap:20px;
    margin-bottom: 80px;
}

.image {
    text-align: center;
}

/* This is for middle section 2 */

.middle-section-2 {
    height: 300px;
    background:#E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color:#1F2937;
}

/* This is for middle section 2 */

.middle-section-3 {
    background: white;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.box {
    background: #3882F6;
    display: flex;
    justify-content: space-between;
    margin: 0px 200px 0px 200px;
    padding: 20px;
    color:white;
    border-radius: 10px;
}

.middle-section-3-left {
    margin-left:100px;
    text-align: left;
}

.middle-section-3-right {
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.sign-button2 {
    margin:0;
    border: white 2px solid;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
}